@page "/templates"

@using Blazorise
@using Classeur.Core
@using Classeur.Core.CustomizableStructure

@inject IJSRuntime _js;
@inject IRepository<Template, string> _repository;

<PageTitle>@Title</PageTitle>

<h1>@Title</h1>

<Button Clicked="AddTemplateAsync" Color="Color.Primary">Add template</Button>
<Button Clicked="DeleteTemplateAsync" Color="Color.Danger">Delete template</Button>

<Select TValue="string"
        SelectedValue="_selectedTemplateId"
        SelectedValueChanged="async id => { _selectedTemplateId = id; await UpdateHasChangesAsync(); }"
        role="list">
	@foreach (Template template in _templates ?? Enumerable.Empty<Template>())
	{
		<SelectItem Value="template.Id.ToString()">@template.Name (@($"v{template.Schema.Latest.VersionIndex}"))</SelectItem>
	}
</Select>

@if (_selectedTemplateId != null)
{
	<Button Clicked="@(async () => await _addDialog.ShowAsync(field: null))" Color="Color.Secondary">
		Add field
	</Button>

	<Button Clicked="SaveChangesAsync"
	        Color="Color.Success"
	        Disabled="@(!_hasChanges)"
	        title="@ChangeString">
		Save changes
	</Button>

    <TemplateFields Template="SelectedTemplate"
					Moving="async moveArgs => await MoveAsync(moveArgs.Key, moveArgs.Position)"
                    Editing="OnFieldEditingAsync"
                    Removing="OnRemoveFieldAsync" />
}

<ChangeFieldModal @ref="_addDialog" FieldChanging="OnFieldAddingAsync" />

@code {

	private const string Title = "Templates";

	private List<Template>? _templates;
	private ChangeFieldModal _addDialog = null!;
	private string? _selectedTemplateId;
	private bool _hasChanges;

	private Template SelectedTemplate
	{
		get => _templates!.First(t => t.Id == IncoherentId.Parse(_selectedTemplateId!));
		set => _templates![_templates.FindIndex(t => t.Id == value.Id)] = value;
	}

	private string ChangeString => _hasChanges
		? string.Join(Environment.NewLine,
		              SelectedTemplate.Schema
		                              .LatestChanges
		                              .Select(c => c.ToString()))
		: "";

	protected override async Task OnInitializedAsync()
	{
		_templates = await _repository.GetAllAsync(CancellationToken.None);
		_selectedTemplateId = _templates.FirstOrDefault()?.Id.ToString();
	}

	private async Task AddTemplateAsync()
	{
		if (await _js.PromptAsync("Enter template name:", CancellationToken.None) is {Length: > 0} name)
		{
			IncoherentId id = IncoherentId.Generate();

			await _repository.InsertAsync(new Template(name, new StructureSchema(id)), CancellationToken.None);
			_templates = await _repository.GetAllAsync(CancellationToken.None);
			_selectedTemplateId = id.ToString();
			_hasChanges = false;
		}
	}

	private async Task SaveChangesAsync()
	{
		await _repository.UpdateAsync(SelectedTemplate, CancellationToken.None);
		await _js.AlertAsync("Saved!", CancellationToken.None);
		_hasChanges = false;
	}

	private async Task DeleteTemplateAsync()
	{
		IncoherentId id = IncoherentId.Parse(_selectedTemplateId!);
		await _repository.DeleteAsync(id.ToString(), CancellationToken.None);
		await _js.AlertAsync("Deleted!", CancellationToken.None);
		_templates = await _repository.GetAllAsync(CancellationToken.None);
		_selectedTemplateId = _templates.FirstOrDefault()?.Id.ToString();
		await UpdateHasChangesAsync();
	}

	private async Task MoveAsync(FieldKey key, int position)
	{
		SelectedTemplate = SelectedTemplate with
		{
			Schema = SelectedTemplate.Schema
			                         .ToLatestVersionMutator()
			                         .MoveField(key, position, preserveVersion: await HasPendingChangesAsync()),
		};

		await UpdateHasChangesAsync();
	}

	private async Task OnRemoveFieldAsync(FieldKey key)
	{
		SelectedTemplate = SelectedTemplate with
		{
			Schema = SelectedTemplate.Schema
			                         .ToLatestVersionMutator()
			                         .RemoveField(key, preserveVersion: await HasPendingChangesAsync()),
		};

		await UpdateHasChangesAsync();
	}

	private async Task OnFieldAddingAsync((FieldDescription?, FieldDescription New) change)
	{
	    FieldDescription field = change.New;

	    await ChangeSelectedTemplateAsync(SelectedTemplate.Schema.Latest.Has(field.Key)
	                                      ? field with
                                            {
                                                Key = field.Key.MakeUniqueAmong(SelectedTemplate.Schema
                                                                                                .Latest
                                                                                                .UnorderedFields
                                                                                                .Select(f => f.Key)),
                                            }
	                                      : field);
	    _addDialog.Reset();
	    await UpdateHasChangesAsync();
	}

    private async Task OnFieldEditingAsync(FieldDescription field)
    {
        await ChangeSelectedTemplateAsync(field);
        await UpdateHasChangesAsync();
    }

    private async Task ChangeSelectedTemplateAsync(FieldDescription field) => SelectedTemplate = SelectedTemplate with
    {
        Schema = SelectedTemplate.Schema
                                 .ToLatestVersionMutator()
                                 .SetField(field, preserveVersion: await HasPendingChangesAsync()),
    };

    private async Task UpdateHasChangesAsync()
	{
		if (_selectedTemplateId != null)
		{
			Template saved = await _repository.GetAsync(_selectedTemplateId, CancellationToken.None);

			_hasChanges = SelectedTemplate.Schema.Latest.VersionIndex != saved.Schema.Latest.VersionIndex;
		}
		else
		{
			_hasChanges = false;
		}
	}

	private async Task<bool> HasPendingChangesAsync()
	{
		Template saved = await _repository.GetAsync(_selectedTemplateId!, CancellationToken.None);
		return saved.Schema.Latest.VersionIndex != SelectedTemplate.Schema.Latest.VersionIndex;
	}

}
